 
<% if user_signed_in? %>
  <li>
  <%= link_to('Edit account', edit_user_registration_path, class: 'btn btn-primary btn-xs') %>
  </li>
<% else %>
  <li>
  <%= link_to('Sign up', new_user_registration_path, class: 'btn btn-primary btn-xs')  %>
  </li>
<% end %>